// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// ================================
// Breakpoint
// ================================

// http://jakearchibald.github.io/sass-ie/

// Example Usage:
// .element {
//   @include breakpoint($bp-medium) {}
// }

@mixin breakpoint($flex-pivot) {
  @media (min-width: $flex-pivot) {
    @content;
  }
}

// Calculate rem sizes
// ================================

@function cre($target, $context: 16) {
  @return calc-rem-size($target, $context)
}

@function calc-rem-size($target, $context: 16) {
  $strip-target: su($target);
  $strip-context: su($context);
  @return ($strip-target / $strip-context) * 1rem;
}

// ================================
// Strip Units
// ================================

// Strip the units from a value:
// css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing

@function su($num) {
  @return strip-unit($num);
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}