@import "header";

// ===============================================================
// Main Section
// ===============================================================
.site-main {
  grid-area: main;
  padding-left: cre(20px);
  padding-right: cre(20px);
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

// ===============================================================
// Sidebar Area
// ===============================================================
.widget-area {
  grid-area: sidebar;
  justify-self: end;
  padding-left: cre(20px);
  padding-right: cre(20px);
  width: 100%;
}

@import "footer";

@import "no-sidebar";
